
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block title}{/block}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js"></script>
    <script>hljs.highlightAll();</script>
    <style>
        :root {
            font-size: 14px;
        }

        .hljs {
            background: none;
        }
    </style>
</head>

<body>
<div>
    <main class="container">
    <nav>
        <ul>
            <li><strong>GustavPHP</strong></li>
        </ul>
        <ul>
            <li>{$version}</li>
        </ul>
    </nav>
    {block content}{/block}
    </main>
</div>
</body>

</html>